@model QuestionModel
@{
    ViewData["Title"] = "Game Play";

    var answerLabels = new[] { "A", "B", "C", "D" };
}

<div class="question">
    <div class="content">
        <p>@Model.Content</p>
    </div>
    <form method="post" id="answerForm">
        <input type="hidden" name="id" value="@Model.Id" />
        <ol class="answer">
            @for (int i = 0; i < Model.ShuffledAnswers.Count; i++)
            {
                <li>
                    <button type="button" class="answer-button select" onclick="handleAnswer(this, '@Model.ShuffledAnswers[i]')" style="width:100%;">
                        <h1>@answerLabels[i].</h1>
                        <p>@Model.ShuffledAnswers[i]</p>
                    </button>
                </li>
            }
        </ol>
    </form>
</div>
