@model RoomModel

<h2>Chi Tiết Phòng</h2>

<div>
    <h4>Tên phòng: @Model.Name</h4>
    <h4>Chủ phòng: @ViewBag.HostName</h4>
    <p><strong>Mã Phòng:</strong> @Model.RoomCode</p>
    <p><strong>Thời Gian Tạo:</strong> @Model.CreatedAt.ToString("g")</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
@if (ViewBag.IsHost || ViewBag.IsAdmin)
{
    @if (Model.IsActive)
    {
        <span class="badge bg-success">Công khai</span>
    }
    else
    {
        <span class="badge bg-secondary">Riêng tư</span>
    }
    <form asp-action="ToggleRoomStatus" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-sm @(!Model.IsActive ? "btn-success" : "btn-secondary")">
            @(!Model.IsActive ? "Convert to Public" : "Convert to Private")
        </button>
    </form>
    <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="RoomAdmin" asp-route-Id="@Model.Id">Xóa phòng</a>
}
<div class="container">
    <div class="row">
        @if (ViewBag.IsHost || ViewBag.IsAdmin)
        {
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        Questions
                        <a asp-action="Create" asp-controller="QuestionAdmin" asp-route-roomId="@Model.Id" class="btn btn-success">Create Question</a>
                    </div>
                    <div class="card-body">
                        <p class="card-title"></p>
                        <table class="table table-hover" id="dataTables-example" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Content</th>
                                    <th>CorrectAnswer</th>
                                    <th>Wrong_1</th>
                                    <th>Wrong_2</th>
                                    <th>Wrong_3</th>
                                    <th>Difficulty</th>
                                    <th>Topic</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Questions)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Content</td>
                                        <td>@item.CorrectAnswer</td>
                                        <td>@item.Wrong_1</td>
                                        <td>@item.Wrong_2</td>
                                        <td>@item.Wrong_3</td>
                                        <td>
                                            @if (item.Difficulty == 1)
                                            {
                                                <span class="text text-success">Easy</span>
                                            }
                                            else if (item.Difficulty == 2)
                                            {
                                                <span class="text text-warning">Medium</span>
                                            }
                                            else
                                            {
                                                <span class="text text-danger">Difficulty</span>
                                            }
                                        </td>
                                        <td>
                                            @item.Topic.Name
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="QuestionAdmin" asp-route-roomId="@Model.Id" asp-route-Id="@item.Id">Edit</a>
                                            <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="QuestionAdmin" asp-route-roomId="@Model.Id" asp-route-Id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    History
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Room Code</th>
                                <th>Played At</th>
                                <th>Score</th>
                                <th>Duration</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Historys)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.User.Name</td>
                                    <td>@item.Room.RoomCode</td>
                                    <td>@item.PlayedAt</td>
                                    <td>@item.Score</td>
                                    <td>@item.Duration</td>
                                    <td>
                                        @* <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="QuestionAdmin" asp-route-Id="@item.Id">Edit</a>
                                        <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="QuestionAdmin" asp-route-Id="@item.Id">Delete</a> *@
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Leader board
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player Name</th>
                                <th>High Score</th>
                                <th>Best Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Leaderboard != null)
                            {
                                int rank = 1;
                                foreach (var player in ViewBag.Leaderboard)
                                {
                                    <tr>
                                        <td>@rank</td>
                                        <td>@player.UserName</td>
                                        <td>@player.MaxScore</td>
                                        <td>@player.BestDuration.ToString("hh\\:mm\\:ss")</td>
                                    </tr>
                                    rank++;
                                }
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>