@model IEnumerable<RoomModel>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Rooms
                    <a asp-action="Create" asp-controller="RoomAdmin" class="btn btn-success">Create Room</a>
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>RoomCode</th>
                                <th>HostPlayerId</th>
                                <th>CreatedAt</th>
                                <th>IsActive</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.RoomCode</td>
                                    <td>@item.HostPlayerId</td>
                                    <td>@item.CreatedAt.ToString("g")</td>
                                    <td>@item.IsActive</td>
                                   @*  <td>
                                        @if (item.Difficulty == 1)
                                        {
                                            <span class="text text-success">Easy</span>
                                        }
                                        else if (item.Difficulty == 2)
                                        {
                                            <span class="text text-warning">Medium</span>
                                        }
                                        else
                                        {
                                            <span class="text text-danger">Difficulty</span>
                                        }
                                    </td> *@
                                    <td>
                                        <a asp-action="Create" class="btn btn-warning btn-sm" asp-controller="QuestionAdmin" asp-route-roomId="@item.Id">AddQuestion</a>
                                        <a asp-action="Details" class="btn btn-warning btn-sm" asp-controller="RoomAdmin" asp-route-Id="@item.Id">Manage</a>
                                        <a asp-area="default" asp-controller="Game" asp-action="StartGame" asp-route-roomId="@item.Id" class="btn btn-primary">Start Game</a>
                                        <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="RoomAdmin" asp-route-Id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
