@model IEnumerable<RoomModel>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Your Rooms
                    <a asp-action="Create" asp-controller="RoomAdmin" class="btn btn-success">Create Room</a>
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Host Name</th>
                                <th>Room Name</th>
                                <th>RoomCode</th>
                                <th>CreatedAt</th>
                                <th>IsActive</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.UserRooms)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.HostPlayer.Name</td>
                                    <td>@item.Name</td>
                                    <td>@item.RoomCode</td>
                                    <td>@item.CreatedAt.ToString("g")</td>
                                    <td>@item.IsActive</td>
                                    <td>
                                        <a asp-action="Details" class="btn btn-warning btn-sm" asp-controller="RoomAdmin" asp-route-Id="@item.Id">Manage</a>
                                        <a asp-area="default" asp-controller="Game" asp-action="StartGame" asp-route-roomId="@item.Id" class="btn btn-primary">Start Game</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    All Rooms
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Host Name</th>
                                <th>Room Name</th>
                                <th>RoomCode</th>
                                <th>CreatedAt</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.IsActive == true)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.HostPlayer.Name</td>
                                        <td>@item.Name</td>
                                        <td>@item.RoomCode</td>
                                        <td>@item.CreatedAt.ToString("g")</td>
                                        <td>
                                            <a asp-action="Details" class="btn btn-warning btn-sm" asp-controller="RoomAdmin" asp-route-Id="@item.Id">Manage</a>
                                            <a asp-area="default" asp-controller="Game" asp-action="StartGame" asp-route-roomId="@item.Id" class="btn btn-primary">Start Game</a>
                                        </td>
                                    </tr>
                                }
                                else if (item.IsActive == false && (User.IsInRole("Admin") || User.Identity.Name == item.HostPlayer.UserName))
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.HostPlayer.Name</td>
                                        <td>@item.Name</td>
                                        <td>@item.RoomCode</td>
                                        <td>@item.CreatedAt.ToString("g")</td>
                                        <td>
                                            <a asp-action="Details" class="btn btn-warning btn-sm" asp-controller="RoomAdmin" asp-route-Id="@item.Id">Manage</a>
                                            <a asp-area="default" asp-controller="Game" asp-action="StartGame" asp-route-roomId="@item.Id" class="btn btn-primary">Start Game</a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
