@model IEnumerable<QuestionModel>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Questions
                    <a asp-action="Create" asp-controller="QuestionAdmin" class="btn btn-success">Create Question</a>
                </div>
                <div class="card-body">
                    <p class="card-title"></p>
                    <table class="table table-hover" id="dataTables-example" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Content</th>
                                <th>CorrectAnswer</th>
                                <th>Wrong_1</th>
                                <th>Wrong_2</th>
                                <th>Wrong_3</th>
                                <th>Difficulty</th>
                                <th>Topic</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Content</td>
                                    <td>@item.CorrectAnswer</td>
                                    <td>@item.Wrong_1</td>
                                    <td>@item.Wrong_2</td>
                                    <td>@item.Wrong_3</td>
                                    <td>
                                        @if (item.Difficulty == 1)
                                        {
                                            <span class="text text-success">Easy</span>
                                        }
                                        else if (item.Difficulty == 2)
                                        {
                                            <span class="text text-warning">Medium</span>
                                        }
                                        else
                                        {
                                            <span class="text text-danger">Difficulty</span>
                                        }
                                    </td>
                                    <td>
                                        @item.Topic.Name
                                    </td>
                                    <td>
                                        <a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="QuestionAdmin" asp-route-Id="@item.Id">Edit</a>
                                        <a onclick="return confirm('Are u sure to delete?')" asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="QuestionAdmin" asp-route-Id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
